.entity-view__search {
  display: inline-flex;
}

.entity-view__search-wrapper {
  text-align: center;
  transform: translateY(40px);
  top: 35%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.entity-view__search-wrapper.initialized {
  top: 1%;
}

.entity-view__results-list {
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  width: 450px;
  border: 2px solid #d6d5d5;
  display: none;
}

.entity-view__results-list.visible {
  display: block;
  position: absolute;
}

.entity-view__result-item {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 9px 25px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: rgba(95, 121, 141, 0.2);
  }
}

.entity-view__search--random {
  display: flex;
  padding-top: 10px;
  padding-left: 3px;
  font-size: 12px;
  color: #757373;
}

.entity-view__search--random-link {
  color: #1f303e;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid #1f303e;
  }
}

.input__address-search-field {
  font-size:14px;
  font-family: inherit;
  width: 430px;
  padding: 8px 10px;
  outline: none;
  color: #757373;
  border: 2px solid #d6d5d5;
  border-right: 0;
  border-radius: 5px 0 0 5px;

  &:focus {
    border-color: rgba(39, 76, 104, 0.709804);
  }
}

.input__address-search-button {
  font-size: 19px;
  width: 39px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-color: rgba(39, 76, 104, 0.71);
  -webkit-appearance: none;
  font-family: FontAwesome;
  color: #fff;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
